<p id="notice"><%= notice %></p>

<h1>Usuarios</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Matricula</th>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Endereco</th>
      <th>String</th>
      <th>Telefone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.matricula %></td>
        <td><%= usuario.nome %></td>
        <td><%= usuario.sobrenome %></td>
        <td><%= usuario.endereco %></td>
        <td><%= usuario.string %></td>
        <td><%= usuario.telefone %></td>
        <td><%= usuario.email %></td>
        <div class="btn-group pull-right">
	  <td class="btn btn-default btn-sm"><%= link_to 'Exibir', usuario %></td>
	  <td class="btn btn-default btn-sm"><%= link_to 'Editar', edit_usuario_path(usuario) %></td>
	  <td class="btn btn-default btn-sm"><%= link_to 'Deletar', usuario, method: :delete, data: { confirm: 'Esta certo disso?' } %></td>
        <div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Usuario', new_usuario_path, class: 'btn btn-primary' %>
