<p id="notice"><%= notice %></p>

<h1>Livros</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Nome</th>
      <th>Descricao</th>
      <th>Codigo</th>
      <th>Sbn</th>
      <th>Autor</th>
      <th>Idioma</th>
      <th>Paginacao</th>
      <th>Imprenta</th>
      <th>Palavras</th>
      <th>Chave</th>
      <th>Data cadastro</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @livros.each do |livro| %>
      <tr>
        <td><%= livro.titulo %></td>
        <td><%= livro.nome %></td>
        <td><%= livro.descricao %></td>
        <td><%= livro.codigo %></td>
        <td><%= livro.sbn %></td>
        <td><%= livro.autor %></td>
        <td><%= livro.idioma %></td>
        <td><%= livro.paginacao %></td>
        <td><%= livro.imprenta %></td>
        <td><%= livro.palavras %></td>
        <td><%= livro.chave %></td>
        <td><%= livro.data_cadastro %></td>
        <div class="btn-group pull-right">
	  <td class="btn btn-default btn-sm"><%= link_to 'Exibir', livro %></td>
	  <td class="btn btn-default btn-sm"><%= link_to 'Editar', edit_livro_path(livro) %></td>
	  <td class="btn btn-default btn-sm"><%= link_to 'Deletar', livro, method: :delete, data: { confirm: 'Esta certo disso?' } %></td>
	<div>  
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Livro', new_livro_path, class: 'btn btn-primary' %>
