<!DOCTYPE html>
<html>
<head>
  <title>Biblioteca</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
	
	<%= link_to 'Biblioteca',  livros_path , class:"navbar-brand" %>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
	<ul class="nav navbar-nav">
	  
	  <li class=""><%= link_to 'Usuarios', usuarios_path %></li>
	  <li class=""><%= link_to 'Livros', livros_path %></li>
	</ul>
	<ul class="nav navbar-nav pull-right">
	  <li class=""><p>Sair<p></li>
	</ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

<%= yield %>

</body>
</html>
